<!-- templates/pages/privacy_policy.html -->
{% extends 'pages/main_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Colorify - Privacy Policy{% endblock %}

{% block content %}
<div class="bg-gradient-to-r from-purple-100 via-white to-blue-100">
    <div class="text-center py-28">
      <div class="relative inline-block">
          <h1 class="text-5xl font-semibold mb-2 flex flex-wrap justify-center items-center gap-2">
              <span>Privacy</span>
              <span class="relative">
                  <span class="text-blue-600">Policy</span>
                  <svg class="absolute -bottom-6 right-0 w-32 h-8" viewBox="0 0 1200 100">
                      <path 
                          d="M0,50 Q600,-80 1200,50" 
                          stroke="#FF4500" 
                          stroke-width="25" 
                          fill="none"
                      />
                  </svg>
              </span>
          </h1>
      </div>
      <p class="text-gray-600 mt-8 max-w-4xl mx-auto px-4">
          Lorem ipsum dolor sit amet consectetur adipiscing elit felis
      </p>
    </div>
</div>

<!-- Main Content -->
<main class="pt-14 pb-16 px-4 max-w-4xl mx-auto">
    <!-- Content Sections -->
    <div class="space-y-12">
        <section class="text-center space-y-2">
        <h2 class="text-3xl font-semibold mb-4">
            User Rights
            <span class="text-blue-600">Information</span>
        </h2>
        <p class="text-gray-600 leading-relaxed ">
            Nam et elit ultrices, tempus lectus a, tincidunt sapien. Aenean
            justo felis, molestie ac tellus et, vehicula elit dui. Mauris
            hendrerit, arcu lock interdum luctus sollicitudin, nisl nunc
            pharetra ante, non pharetra dolor libero molestie. Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Ratione illum animi,
            nulla reprehenderit quaerat ipsum atque ea laborum commodi cumque
            consequuntur repellendus rem sit. Eos mollitia nulla quas nihil quis
            placeat omnis rem, et esse, quam molestias natus aliquid temporibus
            beatae ullam repudiandae.
        </p>
        <p>
            Class hendrerit lorem in elit tincidunt, tempor gravida ipsum
            finibus. Fusce sodales augue sit amet magna faucibus a venenatis.
            Aliquam sit amet tempus dui. Cras condimentum ante non condimentum
            consectetur. Cras pulvinar ex at lacinia lobortis. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Totam officiis, doloribus
            itaque quo repudiandae quia nemo enim inventore exercitationem
            ducimus modi ut eum labore dolor quasi nobis aut voluptas nostrum
            amet fuga. Autem facilis sed rerum aliquam perspiciatis inventore
            repellat repudiandae natus labore.
        </p>
        </section>

        <section class="text-center space-y-2">
        <h2 class="text-3xl font-semibold mb-4">
            Sed sed cursus <span class="text-blue-600">purus</span>
        </h2>
        <p class="text-gray-600 leading-relaxed">
            Class hendrerit lorem in elit tincidunt, tempor gravida ipsum
            finibus. Fusce sodales augue sit amet magna faucibus a venenatis.
            Aliquam sit amet tempus dui. Cras condimentum ante non condimentum
            consectetur. Cras pulvinar ex at lacinia lobortis. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Totam officiis, doloribus
            itaque quo repudiandae quia nemo enim inventore exercitationem
            ducimus modi ut eum labore dolor quasi nobis aut voluptas nostrum
            amet fuga. Autem facilis sed rerum aliquam perspiciatis inventore
            repellat repudiandae natus labore.
        </p>
        <p>
            Class hendrerit lorem in elit tincidunt, tempor gravida ipsum
            finibus. Fusce sodales augue sit amet magna faucibus a venenatis.
            Aliquam sit amet tempus dui. Cras condimentum ante non condimentum
            consectetur. Cras pulvinar ex at lacinia lobortis. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Totam officiis, doloribus
            itaque quo repudiandae quia nemo enim inventore exercitationem
            ducimus modi ut eum labore dolor quasi nobis aut voluptas nostrum
            amet fuga. Autem facilis sed rerum aliquam perspiciatis inventore
            repellat repudiandae natus labore.
        </p>
        <p>
            Class hendrerit lorem in elit tincidunt, tempor gravida ipsum
            finibus. Fusce sodales augue sit amet magna faucibus a venenatis.
            Aliquam sit amet tempus dui. Cras condimentum ante non condimentum
            consectetur. Cras pulvinar ex at lacinia lobortis. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Totam officiis, doloribus
            itaque quo repudiandae quia nemo enim inventore exercitationem
            ducimus modi ut eum labore dolor quasi nobis aut voluptas nostrum
            amet fuga. Autem facilis sed rerum aliquam perspiciatis inventore
            repellat repudiandae natus labore.
        </p>
        </section>
    </div>
</main>

{% endblock %}
